// variables-text/background(colors-palette[hsl format])
// text-variables
$text-1: hsl(0, 0%, 100%);
$text-2: hsl(103, 10%, 50%);

// background-variables
$background-1: hsl(210, 21%, 23%);
$background-2: hsl(0, 0%, 100%);
$background-banner-section: hsl(210, 11%, 15%);

